#table-padder { 
	padding-top: 100px;
}

.footer { 
	padding-top: 60px;
}

#bodyTag{
	padding-top: 100px;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  
}

.form-signin,h2 {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: +2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  background-color: #FAFFBD;  
}
